# Dependencies
node_modules/

# Next.js build output
.next/
dist/

# Production
out/

# Debug
npm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db
